.site {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1024px;
}

header {
  display: flex;
  justify-content: center;
}

img {
  cursor: pointer;
  margin: 5px;
}

button {
  height: 40;
  margin: auto;
  width: 200px;
}

label {
  display: block;
  margin: 10px 0;
}

.success {
  color: lightgreen;
}

.error {
  color: lightcoral;
}
