{% load static %}
<html>
  <head>
    <title>SurePix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'photos/style.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script
      src='https://code.jquery.com/jquery-3.2.1.min.js'
      integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
      crossorigin='anonymous'></script>
    <script
      src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js'
      integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU='
      crossorigin='anonymous'></script>
  </head>
  <body>
    <header>
      <h1>SurePix</h1>
    </header>
    {% block content %}
    {% endblock %}
  </body>
  <script>
    var getCookie = function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  </script>
</html>
