{% extends 'base.html' %}

{% block content %}
  <div class='site'>
    <div class='photos-container'>
    </div>
    <button>Load More</button>
  </div>

  <div id='dialog-form' title='Purchase form'>
    <p class='flash'></p>
    <h3></h3>
    <p class='validateTips'>All form fields are required.</p>
  
    <form>
      <fieldset>
        <select></select>
        <label for='name'>Name
          <input type='text' name='name' class='text ui-widget-content ui-corner-all' required>
        </label>
        <label for='email'>Email
          <input type='text' name='email' class='text ui-widget-content ui-corner-all' required>
        </label>
        <label for='email'>Address
          <input type='text' name='address' class='text ui-widget-content ui-corner-all' required>
        </label>
        <label for='email'>City
          <input type='text' name='city' class='text ui-widget-content ui-corner-all' required>
        </label>
        <label for='email'>State
          <input type='text' name='state' class='text ui-widget-content ui-corner-all' required>
        </label>
        <label for='email'>Zip
          <input type='text' name='zip' class='text ui-widget-content ui-corner-all' required>
        </label>
      </fieldset>
    </form>
  </div>

  <script>
    var page = 1;
    var fetchPhotos = function(success) {
      $.get({
        url: '/photos?page=' + page,
        success: function(photos) {
          success(photos);
          page += 1;
        }
      });
    };

    var setSizeAndTitle = function(photo) {
      $('#dialog-form h3').html('Purchasing photo - ' + photo.title);
      $('#dialog-form select').empty();
      var defOption = '<option value="">Select a size</option>';
      $('#dialog-form select').append(defOption);
      photo.variants.forEach(function(variant){
        defOption = '<option value="' + variant.id + '" data-price="' + variant.price + '">' + variant.size + ' --- $' + variant.price + '</option>';
        $('#dialog-form select').append(defOption);
      })
    }

    var addListenerToPhoto = function(element, photo) {
      element.click(function() {
        setSizeAndTitle(photo);
        $('form')[0].reset();
        dialog.dialog('open');
      });
    }

    var appendPhotos = function(photos) {
      var container = $('.photos-container');
      photos.forEach(function(photo) {
        var img = $('<img src="' + photo.url + '">')
        container.append(img);
        addListenerToPhoto(img, photo);
      })
    };

    var orderPhotos = function(event) {
      console.log(event.target);
      var variant = $('select option:selected')
      var data = {
        variant: variant[0].value,
        price: variant.data().price,
        name: $('input[name="name"]')[0].value,
        email: $('input[name="email"]')[0].value,
        address: $('input[name="address"]')[0].value,
        city: $('input[name="city"]')[0].value,
        state: $('input[name="state"]')[0].value,
        zip: $('input[name="zip"]')[0].value
      }
      var csrftoken = getCookie('csrftoken');

      $.post({
        url: '/orders',
        data: JSON.stringify(data),
        type: 'POST',
        dataType: 'json',
        contentType:"application/json; charset=utf-8",
        headers: {
          'X-CSRFToken': csrftoken
        },
        success: function() {
          $('.flash').empty()
          $('.flash').removeClass('error')
          $('.flash').addClass('success')
          $('.flash').append('Your order was successfully created')
        },
        error: function() {
          $('.flash').empty()
          $('.flash').removeClass('success')
          $('.flash').addClass('error')
          $('.flash').append('Oops, there was an error placing your order')
        }
      })
    };

    $('button').click(function() {
      fetchPhotos(appendPhotos);
    });

    var dialog = $('#dialog-form').dialog({
      autoOpen: false,
      height: 600,
      width: 600,
      modal: true,
      buttons: {
        'Place Order': orderPhotos,
        Cancel: function() {
          dialog.dialog( 'close' );
        }
      },
      close: function() {
      }
    });

    fetchPhotos(appendPhotos);
  </script>
{% endblock %}
